<h2>Bienvenido, @ViewBag.Nombre (Administrador)</h2>
<ul>
    <li><a href="/Usuarios">Gestión de usuarios</a></li>
    <li><a href="/Reportes">Gestión de Reportes</a></li>
    <li><a href="/Sucursals">Gestión de Sucursales</a></li>
    <li><a href="/Equipoes">Gestión de Equipos</a></li>
    <li><a href="/Login/Logout">Cerrar sesión</a></li>
</ul>
