<h2>Bienvenido, @ViewBag.Nombre (Técnico)</h2>
<ul>
    <li><a href="/Reportes">Ver Reportes</a></li>
    <li><a href="/Reportes/Create">Crear Reporte</a></li>
    <li><a href="/Login/Logout">Cerrar sesión</a></li>
</ul>